
<%= form_with(model: movie, local: true) do |f| %>

<%= render "shared/errors", object: movie %>

<%= f.label :name %>
<%= f.text_field :name, autofocus: true, required: true, class: "form-control"%>

<%= f.label :description %>
<%= f.text_area :description, required: true, row: 5,  class: "form-control" %>

<%= f.label :price %>
<%= f.number_field :price %>

<%= f.label :starts_at %>
<%= f.datetime_select :starts_at, {ampm: true}, {class: "datetime"} %>

<%= f.label :capacity %>
<%= f.number_field :capacity %>

<%= f.label :image_File_Name %>
<%= f.text_field :image_file_name %>

<div class="checkboxes">
<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>

<%= f.submit %>

<% end %>
