<h3>User's Profile</h3>
<section>
<div class = "userProfile">
    <div class = "photo">
        <%= image_tag('user.jpg', class: "userPix")  %>
    </div>
    <div class = "details">
        <h2><%= @user.name %></h2>
        <p class = "PostCount" >
            Number of posts: <%= @user.posts_counter %>
                <% if @user.posts_counter.nil?%><%= "0" %>
                <%end%>
        </p>
    </div>
</div>

<div class = "userBio" >
    <p>Bio</P>
    <%= @user.bio %>
</div>
    <div>
    <% @user.three_recent_post.each do |user| %>
      <div  class = "userPost">
        <p> <%= user.title %> </p>
        <%= user.text%>
        <div class = "postdetail">
       comments: <%= user.comments_counter %>: |likes:<%= user.likes.size %></div>

        </div>
    <%end%>
    </div>
</section>
<div class = "btn" >
    <%= link_to "See All Post", user_posts_url(@user), class: "btn" %>
</div>


