<h3>Users Profile</h3>
<%# <section>
<div class = "userProfile">
    <div class = "photo">
        <%= image_tag('user.jpg', class: "userPix")  %>
    <%# </div>
    <div class = "details">
        <h2><%= @user.name</h2>
        <p class = "PostCount" >
            <%# Number of posts: <%= @user.posts_counter %>
        <%# </p> %>
    <%# </div> %>
<%# </div> %>

<%# <div class = "userBio" >
    <p>Bio</P>
    <%= @user.bio %>
<%# </div> %>
    <%# <div class = "userPost" > %>
        <%# <p>Post #1</p> %>
        <%# <%= @post.text %>
         <%# <span class = "comments" > %>
            <%# Comments: <%= @post.comments_counter %>
        <%# </span>
    </div> %>
<%# </section> %>


