</section>
    <div class = "Postpage" >
        <div  class = "page">
        <p>Post by<%= @user.name %></p>
         <p class = "postsCounter" >
            Comments: <%= @post.comments_counter %> 💬
          <%= button_to 'Like', user_post_likes_path(@post.user, @post), class: "like_btn" %>:<%= @post.likes.count %> ❤️

        </p>

        </div>
        <%= @post.text %>
    </div>
    <div>
    <% if @post.five_recent_comments.any? %>
<div class = "usercomments" >
       <% @post.five_recent_comments.each do |comment| %>
      <span><%= comment.user.name %>: <%= comment.text %></span>
    <%end%>
</div>
<% end %>
    </div>

</section>


