<section>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <% if current_user?(@user) %>
    <div>
    <button>
        <%= link_to "Edit Account", edit_user_path(@user), class: "button Edit" %>
    </button>

<%= button_to "Delete Account", user_path(@user), method: :delete,  data: { confirm: 'really?' } %>

</div>

<% end %>
<% if @registrations.present? %>
<h3>Registration</h3>
<% @registrations.each do |r| %>
<div>
    <div>
        <%= link_to image_tag(r.movie.image_file_name), r.movie %>

    </div>
    <div>
        <%= link_to r.movie.name, r.movie %>
    </div>

    <div>
        <%= time_ago_in_words(r.created_at) %> ago
    </div>
</div>
<% end %>
<% end %>

<% if @liked_movies.present? %>
<h3>liked Movie</h3>
<div>
    <%= @liked_movies.each do |movie| %>
    <%= link_to image_tag(movie.image_file_name), movie %>
    <% end %>
</div>
<% end %>
    </section>
